.cabins {
  height: 438px;
  width: 100%;
  display: flex;
  font-family: "Open Sans";
  &__beds {
    height: 438px;
    width: 693px;
  }

  & .cabins__text {
    max-width: 465px;
    max-height: 438px;
    margin-left: 147px;
    margin-right: 105px;
    margin-top: 87px;
    position: relative;
    p {
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      color: #000000;
    }
    h1 {
      font-size: 40px;
      line-height: 40px;
      color: #5b6460;
      font-weight: 400;
      margin-bottom: 50px;
    }
    a {
      position: absolute;
      bottom: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #5b6460;
      text-decoration: underline;
    }
  }
}

.gallery {
  height: 687px;
  &__container {
    padding-top: 150px;
    position: relative;
    display: flex;
  }
}

.img__item {
  margin-right: 25px;
  &:first-child {
    margin-left: 32px;
  }
  &_last {
    position: absolute;
    top: 337px;
    left: 9px;
  }
}

.lastimage {
  position: relative;
  width: 432px;
}
